:root                                     { --font-current: "0x Proto Mono", monospace; }
:root[data-font="0x-proto"]          { --font-current: "0x Proto Mono", monospace; }
:root[data-font="departure"]         { --font-current: "Departure Mono Mono", monospace; }
